.questions {
  padding: 110px 0 98px 0;
}
.questions__h2 {
  margin-bottom: 48px;
}
.questions__list {
  flex-direction: column;
}
.questions__item {
  display: table-cell;
  justify-content: space-between;
  border-top: 1px solid #cacaca;
  background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='25' cy='25' rx='25' ry='25' fill='%23ECECEC'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M25.0571 24.0571L25.0571 9L25.9429 9L25.9429 24.0571L33.8835 24.0571L41 24.0571L41 24.9429L25.9429 24.9429L25.9429 40L25.0571 40L25.0571 24.9429L10 24.9429L10 24.0571L25.0571 24.0571Z' fill='%23666666'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 100% 30px;
}

.questions__item:last-child {
  border-bottom: 1px solid #cacaca;
}

.questions__item:hover {
  cursor: pointer;
  color: #ff9900;
  border-color: #ff9900;
  background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='25' cy='25' rx='25' ry='25' fill='%23FF9900'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M25.0571 24.0571L25.0571 9L25.9429 9L25.9429 24.0571L33.8835 24.0571L41 24.0571L41 24.9429L25.9429 24.9429L25.9429 40L25.0571 40L25.0571 24.9429L10 24.9429L10 24.0571L25.0571 24.0571Z' fill='%23fff'/%3E%3C/svg%3E ");
  -webkit-transition: background-image 0.5s ease 0s, color 0.5s ease 0s,
    border-color 0.5s ease 0s;
  -o-transition: background-image 0.5s ease 0s, color 0.5s ease 0s,
    border-color 0.5s ease 0s;
  transition: background-image 0.5s ease 0s, color 0.5s ease 0s,
    border-color 0.5s ease 0s;
}

.questions__item:hover + .questions__item {
  border-color: #ff9900;
  -webkit-transition: border-color 0.5s ease 0s;
  -o-transition: border-color 0.5s ease 0s;
  transition: border-color 0.5s ease 0s;
}

.questions__item:hover + .questions__item:last-child {
  border-color: #ff9900;
  border-bottom: 1px solid #cacaca;
  -webkit-transition: border-color 0.5s ease 0s;
  -o-transition: border-color 0.5s ease 0s;
  transition: border-color 0.5s ease 0s;
}

.questions__item:active {
  border-color: #cacaca;
  color: #333;
  background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='25' cy='25' rx='25' ry='25' fill='%23ECECEC'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M25.5 23.8737L36.147 13.2267L36.7733 13.853L26.1263 24.5L31.7412 30.1149L36.7733 35.147L36.147 35.7733L25.5 25.1263L14.853 35.7733L14.2267 35.147L24.8737 24.5L14.2267 13.853L14.853 13.2267L25.5 23.8737Z' fill='%23666666'/%3E%3C/svg%3E%0A");
  -webkit-transition: background-image 0.5s ease 0s, color 0.5s ease 0s,
    border-color 0.5s ease 0s;
  -o-transition: background-image 0.5s ease 0s, color 0.5s ease 0s,
    border-color 0.5s ease 0s;
  transition: background-image 0.5s ease 0s, border-color 0.5s ease 0s,
    color 0.5s ease 0s;
}

.questions__item:active + .questions__item {
  border-color: #cacaca;
}

.questions__item:active + .questions__item:last-child {
  border-color: #cacaca;
}

.questions__item:focus {
  outline: 2px solid #ff9900;
}

.questions__h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

.questions__p {
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 1024px) {
  .questions {
    padding: 83px 0;
  }

  /* .questions__item_two-row {
    padding: 30px 0;
  } */

  .questions__h2 {
    margin-bottom: 36px;
  }

  .questions__h3 {
    padding-right: 150px;
    line-height: 32px;
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .questions {
    padding: 81px 0;
  }

  .questions__h2 {
    margin-bottom: 31px;
    line-height: 59px;
  }

  /* .questions__item:not(:first-child) {
    padding: 30px 0;
  } */

  .questions__h3 {
    padding-right: 95px;
  }
}

@media (max-width: 540px) {
  .questions__container {
    padding: 0 15px;
  }

  .questions__h2 {
    font-size: 30px;
  }

  .questions__h3 {
    padding-right: 50px;
  }
}

@media (max-width: 320px) {
  .questions {
    padding: 60px 0;
  }

  .questions__container {
    padding: 0 15px;
  }

  .questions__h2 {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 29px;
  }

  .questions__h3 {
    font-size: 14px;
  }

  .questions__item {
    background-size: 30px;
    background-position: 100% 39px;
  }

  .questions__h3 {
    font-weight: 500;
    line-height: 24px;
  }

  .questions__p {
    font-size: 12px;
  }
}
